---
title: Olimpia Rospigliosi Agency - About
---

<div class="banner banner-img">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-xs-offset-1 col-lg-offset-3">
        <div id="about-title">
          <h3 class="h3-responsive">OR - Olimpia Rospigliosi Press Office</h3>
        </div>
        <div id="about-text">
          <p class="p-responsive">Press Office - Organizzazione Eventi - Supporto Commerciale - Scouting – Consulenza d’Immagine – Showroom – Social Media Management
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-about-profile">
  <div class="container">
    <div class="row d-flex">
      <div class="col-xs-12 col-md-6 kill-padding-lr">
       <%= image_tag "profile.jpg", class:"w-100" %>
      </div>
      <div class="col-xs-12 col-md-6 kill-padding-lr">
        <div class="box-content">

          <div class="content-about text-center">
            <div>
              <h2>Olimpia Rospigliosi</h2>
            </div>
            <div>
              <h5>Profilo</h5>
            </div>
            <hr align="center" width="10%">
            <div>
              <p>
              Dopo un’infanzia trascorsa a Parigi, in avenue Montaigne, dove cresce tra le vetrine dell’altamoda, e una successiva lunga tappa a Roma, Olimpia si trasferisce a Milano dove lavora nell’ufficio del prestigioso fondo di investimenti L Capital, gruppo Louis Vuitton Moet Hennessy. Svolge una successiva importante esperienza presso l’ufficio di Camera Nazionale della Moda Italiana, in cui gestisce eventi a Palazzo Reale e Palazzo Marino, legati al mondo della moda, e dell’arte. A termine di questa missione, apre il proprio ufficio stampa, facendo da talent scout a giovani designers: lancia marchi come Chrissie Morris e Salar. Scopre il marchio Kinloch, di cui cura le relazioni pubbliche e l’immagine, ed individua un investitore per il brand, oggi venduto in tutto il mondo, soprattutto in Giappone. Si susseguono Walter De Silva, Agalma Medusae e Rosa Castelbarco, entrambe designer di gioielli made in Italy, e gestisce varie operazioni sempre nel settore moda.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-about-agency">
  <div class="container d-flex">
    <div class="row">
      <div class="col-xs-12 col-md-6 kill-padding-lr ">
        <div class="box-content">
          <div class="content-about text-center">
            <div>
              <h2>OR PR</h2>
            </div>
            <div>
              <h5>L'agenzia</h5>
            </div>
            <hr align="center" width="10%">
            <div>
              <p>
                Situato a Milano, nella centralissima Piazza Borromeo, al numero 10, l’ufficio stampa offre una molteplicità di servizi, per marchi di moda, lifestyle, e design, avvalendosi di esperti collaboratori per creare un team personalizzato per i propri clienti.
              </p>
              <br>
              <p>
                Un’ampia parte dello spazio è dedita all’arte, dove viene seguita l’organizzazione di mostre di arte e di design, seguendone l’opening, la comunicazione, ed un’attività espositiva mirata su appuntamento.
              </p>
            </div>
        </div>
          </div>
      </div>
      <div class="col-xs-12 col-md-6 kill-padding-lr ">
        <%= image_tag "about_life.jpg", class:"w-100" %>
      </div>
    </div>

  </div>
</div>
