---
title: Olimpia Rospigliosi Agency - About
---

<div class="banner banner-img">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-xs-offset-1 col-lg-offset-3">
        <div id="about-title">
          <h3 class="h3-responsive">OR - Olimpia Rospigliosi Press Office & PR</h3>
        </div>
        <div id="about-text">
          <p class="p-responsive">Press Office - Organizzazione Eventi - Supporto Commerciale - Scouting – Consulenza d’Immagine – Showroom – Social Media Management
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-about-profile">
  <div class="container">
    <div class="row d-flex">
      <div class="col-xs-12 col-md-6 kill-padding-lr">
       <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1560786503/sito/About/2.portrait_va0vft.jpg", class:"w-100" %>
      </div>
      <div class="col-xs-12 col-md-6 kill-padding-lr">
        <div class="box-content">

          <div class="content-about text-center">
            <div>
              <h2>Olimpia Rospigliosi</h2>
            </div>
            <div>
              <h5>Profilo</h5>
            </div>
            <hr align="center" width="10%">
            <div>
              <p>
              Dopo un’infanzia trascorsa a Parigi, dove cresce tra le vetrine dell’altamoda, e una successiva tappa a Roma, Olimpia si trasferisce a Milano dove lavora nell’ufficio del fondo di investimenti L Capital, gruppo LVMH. Svolge una successiva esperienza presso l’ufficio di Camera Nazionale della Moda Italiana, in cui gestisce eventi a Palazzo Reale e Palazzo Marino. A termine di questa missione, apre il proprio ufficio stampa: lancia marchi come Chrissie Morris e Salar. Scopre il marchio Kinloch, di cui cura le relazioni pubbliche e l’immagine, ed individua un investitore per il brand. Si susseguono Walter De Silva, Agalma Medusae e Rosa Castelbarco, entrambe designer di gioielli made in Italy, e gestisce varie operazioni nei settori della moda, del design e dell'arte.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-about-agency">
  <div class="container d-flex">
    <div class="row">
      <div class="col-xs-12 col-md-6 kill-padding-lr ">
        <div class="box-content">
          <div class="content-about text-center">
            <div>
              <h2>OR PR</h2>
            </div>
            <div>
              <h5>L'agenzia</h5>
            </div>
            <hr align="center" width="10%">
            <div>
              <p>
                Situato a Milano, nella centralissima Piazza Borromeo, l’ufficio stampa offre una molteplicità di servizi, per marchi di moda, lifestyle, e design, avvalendosi di esperti collaboratori per creare un team personalizzato.
              </p>

              <p>
                Un’ampia parte dello spazio è dedita all’arte, dove viene seguita l’organizzazione di mostre di arte e di design, seguendone l’opening, la comunicazione, ed un’attività espositiva mirata su appuntamento.
              </p>
            </div>
        </div>
          </div>
      </div>
      <div class="col-xs-12 col-md-6 kill-padding-lr ">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108435/sito/About/3.orpragenzia_xvsjwq.jpg", class:"w-100" %>
      </div>
    </div>

  </div>
</div>
