---
title: OR - Olimpia Rospigliosi Agency | Relazioni Pubbliche & Communicazioni
---

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
    <li data-target="#carousel-example-2" data-slide-to="3"></li>
    <li data-target="#carousel-example-2" data-slide-to="4"></li>
    <li data-target="#carousel-example-2" data-slide-to="5"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
          alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Press Office & Pr</h3>
        <p>Lorem ipsum commodo voluptate eiusmod cupidatat do.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
          alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <div class="carousel-content">
          <h3 class="h3-responsive">Brand Consultancy</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
          alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Pr & Communication</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
          alt="Fourth slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Event & Production</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
          alt="Fifth slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Showroom</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
          alt="Sixth slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Digital Services</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<div class="banner bg-white">

  <div class="container text-center padding-top-bottom">
    <div class="content-presentation">

      <div class="content-presentation-title">
        <h3>PR Public Relation & Communication</h3>
      </div>

      <div class="content-presentation-sub-title">
        <h6><em>Olimpia Rospigliosi Agency</em></h6>
      </div>

      <hr align="center" width="10%">

      <div class="content-presentation-text-title">
        <p><strong>OR PR is an italian public relations and strategic brand development agency for the italian’s most talented luxury, fashion, lifestyle, art and design industry players.</strong></p>
      </div>

      <div class="content-presentation-text">
        <p class="font-weight-light">We pride ourselves on building strong, long-term partnerships with our clients thanks to a passionate, creative and committed work ethos across all of our divisions. We believe in public relations as a highly effective driver of business growth and an integral component of the marketing mix.
        As such, we proudly work with our clients as a long-term strategic partner committed to conveying their brand message. Our bespoke level of service combined with cross-sector experience and relationships of unparalleled quality gives our clients the edge to deliver their compelling stories to the market through the most effective channels. OR_PR has proven its ability to help brands grow to become leaders in the fashion, beauty and luxury markets. Our hallmark is the level of highly individualized service that we give to every client. OR_PR believes in a comprehensive style that embraces brand strategy, press and communications, celebrity dressing, social media, special events, sales relationships, regional outreach, brand ambassadors, media planning and international partners to help meet and exceed our clients’ goals.
        </p>
      </div>
      </div>
  </div>
</div>

<div class="banner bg-light-gray">
  <div class="container text-center padding-top-bottom">
    <div>
      <h3>Recent Events</h3>
    </div>
    <div class="cards-events">

    </div>
  </div>

</div>


