---
title: OR - Olimpia Rospigliosi Agency | Relazioni Pubbliche & Communicazioni
---

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
    <li data-target="#carousel-example-2" data-slide-to="3"></li>
    <li data-target="#carousel-example-2" data-slide-to="4"></li>
    <li data-target="#carousel-example-2" data-slide-to="5"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
          alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Press Office & Pr</h3>
        <p>Comunicazione del Prodotto a gionalisti e stylists.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
          alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <div class="carousel-content">
          <h3 class="h3-responsive">Produzione di Eventi
          </h3>
          <p>Presentazioni, press days, mostre.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
          alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Showroom</h3>
        <p>Spazio espositivo prodotto.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(20).jpg"
          alt="Fourth slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Product Placement</h3>
        <p>Product placement in programmi televisivi, cinema e fotografia.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(24).jpg"
          alt="Fifth slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Consulenza d’Immagine</h3>
        <p>Costruzione di immagine e strategia di comunicazione.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(27).jpg"
          alt="Sixth slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Spazio Espositivo</h3>
        <p>Spazio espositivo per mostre, eventi, presentazioni.</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<div class="banner bg-white">

  <div class="container text-center padding-top-bottom">
    <div class="content-presentation">

      <div class="content-presentation-title">
        <h3>PR Public Relation & Communication</h3>
      </div>

      <div class="content-presentation-sub-title">
        <h6><em>Olimpia Rospigliosi PR</em></h6>
      </div>

      <hr align="center" width="10%">

      <div class="content-presentation-text-title">
        <p><strong>OR PR è un’agenzia di comunicazione, che collabora con marchi di moda, design, lifestyle e young talents, affiancandoli nello sviluppo della loro immagine e nel posizionamento di mercato.</strong></p>
      </div>

      <div class="content-presentation-text">
        <p class="font-weight-light">I servizi offerti dallo spazio di piazza Borromeo 10, spaziano dalla comunicazione prodotto, alla realizzazione di eventi e di press days, dal posizionamento delle collezioni nelle migliori fiere nazionali ed internazionali, all’organizzazione di shooting con stylists e fotografi professionisti abbracciando a 360 gradi le esigenze del proprio cliente.
        </p>
      </div>
      </div>
  </div>
</div>

<div class="banner bg-light-gray">
  <div class="container text-center padding-top-bottom" id="marbo-60">
    <div>
      <h3>Recent Events</h3>
    </div>
    <div class="row cards-event">
      <% data.events.each do |event| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card-event">
            <%= image_tag "#{event.picture}" %>
            <div class="card-event-details d-flex flex-column justify-content-between">
              <h2><%= event.title %></h2>
              <h3><%= event.date %></h3>
            </div>
          </div>
        </div><!--/.col-->
      <% end %>
    </div><!--/.row-->
  </div>
</div>


